<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кулинарные рецепты</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="toolbar">
        <ul id="navbar">
            <li><a href="Home.html">Главная</a></li>
            <li><a href="borsh.html">Борщ</a></li>
            <li><a href="Caramel.html">Карамель</a></li>
            <li><a href="Pancakes.html">Блины</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="header">
            <h1>Борщ</h1>
        </div>
        <div class="body">
            <p>
            <h4>Ингридиенты:</h4>

            <p>Мясо (либо мякоть с небольшим жирком, либо мозговая косточка с мясом) — 400 г</p>
            <p>Картофель (зависит от кастрюли. У меня средняя) — 5 шт</p>
            <p>Свекла — 3 шт</p>
            <p>Морковь — 3 шт</p>
            <p>Капуста белокочанная / Капустa — 1 вилок</p>
            <p>Помидор (большой) — 1 шт</p>
            <p>Уксус — 2 ст. л.</p>
            <p>Сахар — 1 ст. л.</p>
            <p>Соль</p>
            <p>Укроп</p>
            <p>Чеснок</p>

            </p>
            <p>
            <h4>Рецепт</h4>
            <p>1) Мясо поставить вариться.</p>
            <p>2) Когда мясо сварится, добавить очищенный картофель</p>
            <p>3) Минут через 5 добавить нашинкованную капусту. Крышку прикрыть не полностью. </p>
            <p>4) Сковороду разогреть, налить немного растительного масла. Выложить натёртые на КРУПНОЙ терке морковь и
                свёклу. Сразу влить 2 ст. л. уксуса (если используется эссенция, то нужно разбавить) и 1 ст. л. сахара.
                Перемешать, накрыть крышкой и оставить тушиться минут на 15.
                ВАЖНО! Именно тушиться, а не жариться.
                Если свёкла не очень сочная, добавить пару ложек бульона.
                В конце положить тёртый на тёрке помидор.</p>
            </p>
            <p>5) Когда капуста и картофель практически будут готовы, выложить к ним тушёные морковь и свёклу. Всё
                перемешать. Оставить томиться на ОЧЕНЬ МЕДЛЕННОМ огне для насыщения. </p>
            <p>6) Готовый борщ посыпать рубленым укропом и чесноком.
                Накрыть крышкой и дать ещё немного настояться.</p>
            <p>Готовый борщ разлить по тарелкам, по желанию добавить сметаны.
                Приятного аппетита!</p>
            </p>
        </div>
    </div>
</div>
<!--<table width="100%" height="900px" border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td width="20%" valign="top" id="tolbar">
            <p><a href="Home.html">Главная</a></p>
            <p><a href="borsh.html">Борщ</a></p>
            <p><a href="Caramel.html">Карамель</a></p>
            <p><a href="Pancakes.html">Блины</a></p>
        </td>
        <td width="80%" valign="top">
            <h2 align="left">Борщ</h2>

        </td>
    </tr>
</table>-->
</body>

</html>