<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кулинарные рецепты</title>
</head>
<body>

<table width="100%" height="900px" border="1" cellspacing="0"cellpadding="5">
    <tr>
        <td width="20%"   valign="top" id="tolbar">
            <p><a href="Home.html">Главная</a></p>
            <p><a href="borsh.html">Борщ</a></p>
            <p><a href="Caramel.html">Карамель</a></p>
            <p><a href="Pancakes.html">Блины</a></p>
        </td>
        <td width="80%"  valign="top">
            <h1 align="center">Кулинарные рецепты!</h1>
            <h2 align="left">О нас!</h2>
            <p>
                Что приготовить?
                Над этим вопросом ежедневно задумываются миллионы людей по всему миру.
                Надеюсь, рецепты моего кулинарного сайта помогут решить этот вопрос вам сегодня.
                На этом сайте вы найдете кулинарные рецепты, праздничные и повседневные, с подробными инструкциями.
            </p>
        </td>
    </tr>
</table>
</body>

</html>