<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кулинарные рецепты</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>

<div class="container">
    <div class="toolbar">
        <ul id="navbar">
            <li><a href="Home.html">Главная</a></li>
            <li><a href="borsh.html">Борщ</a></li>
            <li><a href="Caramel.html">Карамель</a></li>
            <li><a href="Pancakes.html">Блины</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="header">
            <h1>Главная</h1>
        </div>
        <div class="body">
            <p>
                Что приготовить?
                Над этим вопросом ежедневно задумываются миллионы людей по всему миру.
                Надеюсь, рецепты моего кулинарного сайта помогут решить этот вопрос вам сегодня.
                На этом сайте вы найдете кулинарные рецепты, праздничные и повседневные, с подробными инструкциями.
            </p>
        </div>
    </div>
</div>

</body>

</html>