<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кулинарные рецепты</title>
</head>
<body>
<table width="100%" height="900px" border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td width="20%" valign="top" id="tolbar">
            <p><a href="Home.html">Главная</a></p>
            <p><a href="borsh.html">Борщ</a></p>
            <p><a href="Caramel.html">Карамель</a></p>
            <p><a href="Pancakes.html">Блины</a></p>
        </td>
        <td width="80%" valign="top">
            <h2 align="left">Блины</h2>
            <p>
            <h4>Ингридиенты:</h4>

            <p> Молоко (тёплое) — 0,5 л </p>
            <p> Крахмал картофельный (без горки) — 4 ст. л. </p>
            <p> Мука пшеничная / Мука (с горкой, просеянной) — 4 ст. л. </p>
            <p> Яйцо куриное (если маленькие, то +1) — 4 шт </p>
            <p> Соль — по вкусу </p>
            <p> Сахар (если сладкие, я кладу 1 ст. ложку) — по вкусу </p>
            <p> Ванилин — по вкусу </p>
            <p> Масло растительное — 2-3 ст. л. </p>

            </p>
            <p>
            <h4>Рецепт</h4>
            <p>1) Смешать все сухие компоненты.</p>
            <p>2) Добавить яйца и, постепенно вливая тепленькое молоко.</p>
            <p>3) Замешать тесто.</p>
            <p>4) Последним добавить масло, дать тесту “отдохнуть” минут 20, и можно жарить. </p>
            <p>Приятного аппетита!</p>
        </td>
    </tr>
</table>
</body>

</html>